# Next.js Configuration
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_APP_DESCRIPTION=

# Hono Configuration
CORS_ORIGIN=

# Better Auth Configuration
BETTER_AUTH_URL=
BETTER_AUTH_SECRET=

# Database Configuration
DATABASE_URL=

# Node.js Configuration
NODE_ENV=development

# Resend
RESEND_API_KEY=your-resend-api-key

# Admin credential
ADMIN_EMAIL=
ADMIN_PASSWORD=