PORT=
# Next.js Configuration
NEXTAUTH_URL=
NEXTAUTH_SECRET=
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_URL=
NEXT_PUBLIC_APP_DESCRIPTION=

# Hono Configuration
CORS_ORIGIN=
# Better Auth Configuration
BETTER_AUTH_SECRET=
BETTER_AUTH_URL= # Base URL of your app

# Database Configuration
DATABASE_URL=

# Node.js Configuration
NODE_ENV=

# Resend
RESEND_API_KEY=your-resend-api-key